<!-- <div id='input' class="container"> -->
<link rel="stylesheet" href="/css/login.css">
<div id='input' class="container">
  <form name="regForm" novalidate>

    <input type="text" name="firstname" placeholder="Enter the firstname"
    ng-model='signctrl.user.firstname'
    required>
    {{signctrl.user.firstname}}
    <span class="whiteview" ng-show="regForm.firstname.$error.required && regForm.firstname.$touched">
    firstname must be provided!!!
    </span>
    <br><br>

    <input type="text" name="lastname" placeholder="Enter the lastname"
    ng-model="signctrl.user.lastname"
    required>
    {{signctrl.user.lastname}}
    <span class="whiteview" ng-show="regForm.lastname.$error.required && regForm.lastname.$touched">
    lastname must be provided!!!
    </span>
    <br><br>

    <input type="email" name="email" placeholder="Enter the email"
    ng-model='signctrl.user.email'
    required>
    {{signctrl.user.email}}
    <span class="whiteview" ng-show="regForm.email.$invalid && regForm.email.$touched">
    email must be provided in the right format!!!
    </span>
    <br><br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
    ng-model='signctrl.user.phone'
    pattern="(\d{3})-(\d{3})-(\d{4})">
    {{signctrl.user.phone}}
    <span class="whiteview" ng-show="regForm.phone.$invalid && regForm.phone.$touched">
    phone number format is not right!!!
    </span>
    <br><br>

    <input type="text" name="favorite" placeholder="Shortname of favorite"
    ng-model='signctrl.user.favorite'>
    {{signctrl.user.favorite}}
    <br>
    <span class="whiteview" ng-show='signctrl.user.showerror == true'>
    No such menu number exists!!
    </span>
    <!-- <span ng-if="regForm.favorite.$invalid && regForm.favorite.$touched">
    The short name doesn't exist!!!
    </span> -->
    <br><br>

    <button type="button"
    ng-disabled = 'regForm.$invalid'
    ng-click = 'signctrl.submit(signctrl.user.favorite)'>
    Submit
    </button>
    <br>

    <div class="whiteview" style="margin-top: 10px;">
    Form valid? {{ regForm.$valid }}
    </div>

    <br>

  </form>
  <p class="whiteview" ng-if='signctrl.user.show == true'>
    Your information has been saved!
  </p>

</div>
